# Copy to /etc/systemd/system/
[Unit]
Description=Gunicorn instance to serve Codex
After=network.target

[Service]
User=armorclad
Group=nginx
WorkingDirectory=/home/armorclad/codex
Environment="PATH=/home/armorclad/codex/codexenv/bin"
#ExecStart=/home/armorclad/codex/codexenv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app
ExecStart=/bin/bash -c "source /home/armorclad/codex/codexenv/bin/activate; /home/armorclad/codex/codexenv/bin/gunicorn --workers 3 --bind unix:/home/armorclad/codex/codex.sock -m 777 wsgi:app"

[Install]
WantedBy=multi-user.target



